.slot {
    --slot: 2.4rem;
    --start: var(--slot);
    --end: var(--slot);
    width: 100%;
    display: grid !important;
    grid-template-columns: 1fr;
    gap: 0;
    padding: 0;

    &:focus-within {
        border-color: var(--ring-color);
    }

    &:focus-within {
        border-color: var(--ringKeyboard-color);
    }

    &.hasStart {
        grid-template-columns: var(--start) minmax(0, 1fr);
    }
    &.hasEnd {
        grid-template-columns: minmax(0, 1fr) var(--end);
    }

    &.hasStart.hasEnd {
        place-items: center;
    }

    & *.main {
        width: 100%;
        min-width: 0;
        display: grid;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: var(--px);
    }

    &.hasStart > *:first-child,
    &.hasEnd > *:last-child {
        display: inline-grid;
        overflow: visible;
    }
    &.hasStart > *:first-child {
        width: var(--start) !important;
        place-self: center;
    }
    &.hasEnd > *:last-child {
        width: var(--end) !important;
        place-self: center;
    }
    &.hasStart.hasEnd {
        grid-template-columns: var(--start) minmax(0, 1fr) var(--end);
    }
}

@media (max-width: 600px) {
    .slot {
        grid-template-columns: 1fr !important;
        background-image: none !important;

        &.hasStart > *:first-child {
            display: none !important;
        }

        &.hasEnd {
            grid-template-columns: 1fr var(--end) !important;
        }
    }
}

.row,
.col,
.colRow {
    display: flex;
}
.col {
    flex-direction: column;
}
.colRow {
    flex-direction: column;
}

@media (orientation: landscape) {
    .colRow {
        flex-direction: row;
    }
}

.wrap {
    flex-wrap: wrap;
}

.old-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap-1);

    & .old-grid-item {
        display: grid;
        place-items: center;
        grid-column: span 6;
    }

    & .old-grid-item._12 {
        grid-column: span 12;
    }

    & .old-grid-item._6 {
        grid-column: span 6;
    }
    & .old-grid-item._3 {
        grid-column: span 3;
    }

    & .old-grid-item._2 {
        grid-column: span 2;
    }
}

@media (orientation: landscape) {
    .old-grid .old-grid-item {
        grid-column: span 4;
    }
}

@media (min-width: 240px) and (max-width: 360px) {
    .old-grid .old-grid-item {
        grid-column: span 12;
    }
}

.stack {
    width: fit-content;
    display: grid;
    grid-template-areas: stack;
    place-items: start;
    &.input *:not(input, button) {
        --input-font-size: max(16px, 1em);
        font-size: var(--input-font-size) !important;
        line-height: 2;
    }
}
.stack > * {
    grid-area: stack;
    display: grid;
}
.stack > *:first-child {
    position: relative;
}
.stack > *[aria-hidden="true"] {
    visibility: hidden !important;
}
