.button {
    --button-bg: transparent;
    --button-bg-active: var(--negative);
    --button-hit-area: var(--min-height);
    --button-gap: var(--gap-2);

    text-decoration: none;

    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: 0;
    /*align-self: start;*/

    line-height: 1.1;
    background-color: var(--button-bg);
    transition:
        background 220ms ease-in-out,
        180ms box-shadow ease-in-out;

    min-width: var(--button-hit-area);
    min-height: var(--button-hit-area);
    width: fit-content;
    height: var(--button-hit-area);

    user-select: none;
    -webkit-tap-highlight-color: transparent;

    border: var(--border);
    padding: var(--button-gap);

    transition-property: background-color, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;

    & .span {
        font: inherit;
        display: grid;
    }

    &.start.end {
        grid-template-columns: repeat(3, max-content);
    }

    &.start:not(.end),
    &.end:not(.start) {
        grid-template-columns: repeat(2, minmax(0, max-content));
    }

    &:hover:not(:disabled, &.active) {
        border-color: var(--neutral);
    }

    &:active {
        transform: scale(0.97);
    }
    &:has(svg) {
        gap: var(--gap-1);
    }
    & svg {
        pointer-events: none;
        /* pointer-events: stroke | fill */
    }

    &.text {
        background-color: transparent !important;
        border: none !important;
        box-shadow: none !important;
        &:focus {
            font-weight: var(--font-bold);
        }
    }

    &.icon {
        max-width: max-content;
        text-align: center;
        border-color: currentColor;
    }

    &.active {
        background-color: var(--button-bg-active);
        border-color: var(--button-bg-active);
    }

    &:disabled {
        opacity: var(--opacity-disabled);
        cursor: not-allowed;
    }

    &.stretch {
        width: 100%;
    }

    &.reset {
        all: unset;
    }

    &:has([data-icon]) {
        border: transparent;
    }

    &:has([data-icon]):focus-within {
        & svg {
            fill: var(--ring-color);
        }
    }

    &:has([data-icon]):focus-visible {
        & svg {
            fill: var(--ringKeyboard-color);
        }
    }
}

/*button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}*/
