.docblock-icongallery *:has(svg) {
    width: 64px;
    height: 64px;
}

.docblock-icongallery {
    grid-auto-rows: 64px !important;
    grid-template-columns: repeat(auto-fill, minmax(64px, 1fr)) !important;
}

#storybook-root:has(#destinations-autcompLite, #users-table, #stock-list) {
    min-width: min(750px, 80vw);
}

#users-table-rows [role="rowgroup"] [role="row"]:hover,
#users-table-rows [role="rowgroup"] [role="row"]:hover [role="cell"] {
    background-color: var(--info) !important;
}

.tooltip {
    &:has(*) {
        padding: var(--pxy);
        min-height: var(--min-height);
        background-color: var(--positive);
    }
}
