.child-will-not-overflow-parent {
    /*
        border-radius: inherit;
    */
    border-start-start-radius: inherit;
    border-start-end-radius: inherit;
    border-end-start-radius: inherit;
    border-end-end-radius: inherit;
}

.border-shadow {
    --border-shadow-color: currentColor;
    &.outer {
        box-shadow: 0 0 0 var(--border-width) var(--border-shadow-color);
    }
    &.inner {
        box-shadow: inset 0 0 0 var(--border-width) var(--border-shadow-color);
    }
    &.left {
        box-shadow: inset var(--border-width) 0 0 0 var(--border-shadow-color);
    }
    &.right {
        box-shadow: inset calc(var(--border-width) * -1) 0 0 0
            var(--border-shadow-color);
    }
    &.top {
        box-shadow: inset 0 var(--border-width) 0 0 var(--border-shadow-color);
    }
    &.bottom {
        box-shadow: inset 0 calc(var(--border-width) * -1) 0 0
            var(--border-shadow-color);
    }
}

/* can shape(from 50% 0, line to 100% 100%, line to 0 100%, close) &

<svg height="0" width="0">
  <defs>
    <clipPath id="star">
      <path d="M100,0 42,180 196,70 4,70 158,180z" />
    </clipPath>
  </defs>
</svg>

clip-path: url("#star");
...*/
.clip-circle {
    --clip-amount: 40%;
    clip-path: circle(--clip-amount);
}
.clip-triangle {
    clip-path: content-box polygon(50% 0, 100% 100%, 0 100%);
}
.clip {
    clip-path: inset(100% 100% 100% 100%);
    &.top {
        clip-path: inset(50% 0px 0px 0px);
    }
    &.bottom {
        clip-path: inset(0px 0px 50% 0px);
    }
    &.right {
        clip-path: inset(0px 50% 0px 0px);
    }
    &.left {
        clip-path: inset(0px 0px 0px 50%);
    }
}
