.ringless {
    border-color: var(--transparent) !important;
}

.ring {
    border: var(--border) !important;
    border-color: var(--ring-color) !important;
}
.ringKeyboard {
    border: var(--border) !important;
    border-color: var(--ringKeyboard-color) !important;
}

.react-aria-DatePicker {
    /*&[data-invalid] {
    }

    &[data-open] {
    }

    & .react-aria-Label {
    }*/
    .react-aria-Group {
        display: flex;
        width: fit-content;
        align-items: stretch;
    }

    .react-aria-Button {
        background-color: var(--white);

        color: currentColor;
        forced-color-adjust: none;
        border: none;
        &[data-pressed] {
            box-shadow: none;
        }

        &[data-focus-visible] {
            outline: 2px solid currentColor;
            outline-offset: 2px;
        }
    }

    .react-aria-DateInput {
        padding: var(--gap-1) 2.5rem var(--gap-1) var(--gap-2);
        background-color: var(--white);

        .react-aria-DateSegment {
            &:focus {
                outline: none;
                color: var(--positive);
            }
        }
    }
}

.react-aria-Popover {
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);

    &[data-trigger="DatePicker"] {
        max-width: unset;
    }
    & *:not(.react-aria-Heading) {
        font-size: var(--font-size);
    }
    .react-aria-Heading {
        font-size: var(--font-xl);
        padding: var(--px);
    }
}
.react-aria-CalendarCell {
    /*&[data-today] {
    }

    &[data-unavailable] {
    }*/

    &[data-selected] {
        background-color: var(--positive) !important;
    }
    &[data-hovered] {
        background-color: var(--neutral);
    }
    /*&[data-pressed] {
    }*/

    &[data-focused]:not([data-selected]) {
        outline-color: var(--positive);
        color: var(--positive);
    }
    &[data-isFocusVisible] {
        outline-color: var(--positive);
    }
}
/*.react-aria-Dialog {
}

.react-aria-Calendar {
}*/

.pxy {
    padding: var(--pxy);
}

.group {
    --outline: 4px;

    isolation: isolate;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: 0 0 0 var(--outline) var(--neutral);

    &:focus-within {
        box-shadow: 0 0 0 var(--outline) var(--positive);
    }

    & ::-webkit-input-placeholder {
        color: currentColor;
    }

    & ::-ms-input-placeholder {
        color: currentColor;
    }

    & ::placeholder-shown {
        color: currentColor;
    }

    & *::selection {
        color: currentColor;
    }

    @media (any-hover: hover) {
        &:where(:not(:active):hover) {
            /* hover effect */
        }
    }
}

@media (hover: hover) {
    .group:hover {
    }
}

.intrinsic-grid {
    --intrinsic-grid-item-width: 10em;
    --intrinsic-grid-gap: var(--gap-3, 0);

    align-items: start;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(min(100%, var(--intrinsic-grid-item-width)), 1fr)
    );
    width: 100%;
    gap: var(--intrinsic-grid-gap);
}

.intrinsic-flex {
    --min-content-width: 20rem;
    display: flex;
    flex-wrap: wrap;
}

.intrinsic-flex > * {
    flex: 1 1 var(--min-content-width);
}

.clamp {
    --clamp-lines: 2;
    display: -webkit-box;
    line-clamp: var(--clamp-lines);
    -webkit-line-clamp: var(--clamp-lines);
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.number {
    font-variant-numeric: tabular-nums;
}

.columns {
    --columns-count: 3;
    --columns-width: min(150px, 30%);
    columns: var(--columns-count) var(--columns-width);
}

.row,
.col,
.colRow {
    display: flex;
}
.col {
    flex-direction: column;
}
.colRow {
    flex-direction: column;
}

@media (orientation: landscape) {
    .colRow {
        flex-direction: row;
    }
}

@media (orientation: landscape) {
    .hide-portrait {
        display: none !important;
    }
}

@media (orientation: portrait) {
    .hide-landscape {
        display: none !important;
    }
}

.mt-a {
    margin-top: auto !important;
}
.mb-a {
    margin-bottom: auto !important;
}
.ml-a {
    margin-left: auto !important;
}
.mr-a {
    margin-right: auto !important;
}

.place-items-center {
    place-items: center;
}
.place-items-start {
    place-items: start;
}
.place-items-end {
    place-items: end;
}
.place-items-baseline {
    place-items: baseline;
}
.place-content-center {
    place-content: center;
}
.place-content-start {
    place-content: start;
}
.place-content-end {
    place-content: end;
}

.old-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap-1);

    & .old-grid-item {
        display: grid;
        place-items: center;
        grid-column: span 6;
    }

    & .old-grid-item._12 {
        grid-column: span 12;
    }

    & .old-grid-item._6 {
        grid-column: span 6;
    }
    & .old-grid-item._3 {
        grid-column: span 3;
    }

    & .old-grid-item._2 {
        grid-column: span 2;
    }
}

@media (orientation: landscape) {
    .old-grid .old-grid-item {
        grid-column: span 4;
    }
}

@media (min-width: 240px) and (max-width: 360px) {
    .old-grid .old-grid-item {
        grid-column: span 12;
    }
}

.offscreen {
    clip: rect(0, 0, 0, 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.center {
    display: grid;
    place-content: center;
}

.unset {
    border: unset;
    padding: unset;
    margin: unset;
}

.dead {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.invisible {
    pointer-events: none;
    position: absolute;
    visibility: hidden;
}

.fit {
    width: fit-content;
}

.cover {
    inset: 0;
}

.contain img {
    object-fit: contain !important;
}

.icon-align-text {
    height: 1lh;
}

.child-will-not-overflow-parent {
    /*
        border-radius: inherit;
    */
    border-start-start-radius: inherit;
    border-start-end-radius: inherit;
    border-end-start-radius: inherit;
    border-end-end-radius: inherit;
}

/*@media (width < 600px) {
}*/

.border-shadow {
    --border-shadow-color: currentColor;
    &.outer {
        box-shadow: 0 0 0 var(--border-width) var(--border-shadow-color);
    }
    &.inner {
        box-shadow: inset 0 0 0 var(--border-width) var(--border-shadow-color);
    }
    &.left {
        box-shadow: inset var(--border-width) 0 0 0 var(--border-shadow-color);
    }
    &.right {
        box-shadow: inset calc(var(--border-width) * -1) 0 0 0
            var(--border-shadow-color);
    }
    &.top {
        box-shadow: inset 0 var(--border-width) 0 0 var(--border-shadow-color);
    }
    &.bottom {
        box-shadow: inset 0 calc(var(--border-width) * -1) 0 0
            var(--border-shadow-color);
    }
}

/* can shape(from 50% 0, line to 100% 100%, line to 0 100%, close) &

<svg height="0" width="0">
  <defs>
    <clipPath id="star">
      <path d="M100,0 42,180 196,70 4,70 158,180z" />
    </clipPath>
  </defs>
</svg>

clip-path: url("#star");
...*/
.clip-circle {
    --clip-amount: 40%;
    clip-path: circle(--clip-amount);
}
.clip-triangle {
    clip-path: content-box polygon(50% 0, 100% 100%, 0 100%);
}
.clip {
    clip-path: inset(100% 100% 100% 100%);
    &.top {
        clip-path: inset(50% 0px 0px 0px);
    }
    &.bottom {
        clip-path: inset(0px 0px 50% 0px);
    }
    &.right {
        clip-path: inset(0px 50% 0px 0px);
    }
    &.left {
        clip-path: inset(0px 0px 0px 50%);
    }
}

.is-empty {
    /* no text nodes */
    &:empty {
        opacity: 0.1;
        width: var(--min-width);
    }
    /* maybe text nodes */
    &:not(:has(*)) {
        background-color: var(--negative);
    }
}

/*.has-one-child:has(> :only-child) {
}*/

/* more than one child*/
.has-one-child:not(:has(> :only-child)) {
    padding: var(--pxy);
    & svg {
        fill: var(--negative);
    }
}

.font-xs {
    font-size: var(--font-xs);
}
.font-sm {
    font-size: var(--font-sm);
}
.font-md {
    font-size: var(--font-md);
}
.font-lg {
    font-size: var(--font-lg);
}
.font-xl {
    font-size: var(--font-xl);
}

:is(.font-xl, .font-lg) {
    line-height: 1;
    overflow-wrap: break-word;
}

:is(.font-xl, .font-lg)::first-letter {
    text-transform: var(--shout);
}

.font-xl:has(b),
.font-lg:has(b),
.font-md:has(b),
.font-sm:has(b) {
    font-size: inherit;
}
